img {
    width: 250px;
    border-radius: 10px;
    margin-top: 13px;
    margin-left: 13px;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

h3 {
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 15px;
    opacity: 40%;
    font-weight: 400;
}

div {
    background-color: hsl(0, 0%, 100%);
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 485px;
    margin-right: 485px;
    border-radius: 20px;
    padding-bottom: 50px;
}